body {
  background: #f5f5f5;
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: url("../images/coliseo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffff;
  line-height: 1.5;
  padding: 200px 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #ffff;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background: #ffffff;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
main h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  margin: 0;
}
main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #272044;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.5;
  color: #272044;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 70px;
}
.img-responsive {
  max-width: 100%;
}

section.secondary {
  background: #f8f8f8;
  text-align: center;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}
.card {
  background: #ffffff;
  margin-top: 50px;
}

.card-body {
  padding: 30px;
}
.card p {
  font-size: 14px;
  padding: 15px;
}
.footer-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

.btn {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background: #462cb3;
  text-decoration: none;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/ravioli.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;

  padding: 0;
}
footer a {
  color: #ffffff;
  opacity: 0.7;
  font-weight: 200;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    font-size: 10px;
    padding: 8px 16px;
  }
  .main-grid {
    grid-template-columns: 1fr;
  }
  main img {
    width: 100%;
  }
  .places-grid {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 30px;
    text-align: center;
  }
}
